@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?3k1wol");
  src: url("fonts/icomoon.eot?3k1wol#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?3k1wol") format("truetype"), url("fonts/icomoon.woff?3k1wol") format("woff"), url("fonts/icomoon.svg?3k1wol#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 12, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/_icomoon-style.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 27, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/_icomoon-style.scss */
.icon-audiovisual:before {
  content: "\e900";
}

/* line 30, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/_icomoon-style.scss */
.icon-claquete:before {
  content: "\e901";
}

/* line 33, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/_icomoon-style.scss */
.icon-facebook:before {
  content: "\e902";
}

/* line 36, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/_icomoon-style.scss */
.icon-filmagem:before {
  content: "\e903";
}

/* line 39, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/_icomoon-style.scss */
.icon-fotografia:before {
  content: "\e904";
}

/* line 42, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/_icomoon-style.scss */
.icon-img:before {
  content: "\e905";
}

/* line 45, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/_icomoon-style.scss */
.icon-instagram:before {
  content: "\e906";
}

/* line 48, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/_icomoon-style.scss */
.icon-twitter:before {
  content: "\e907";
}

/* line 4, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* line 10, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
html, body {
  margin: 0;
  height: 100%;
  min-height: 100%;
}

/* line 15, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
body {
  font-family: "Montserrat", sans-serif;
  background: #fff;
}

/* line 21, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.container {
  display: grid;
  grid-template-areas: "aside main" "aside contato";
  grid-template-columns: 320px 1fr;
  grid-template-rows: 1fr auto;
  grid-gap: 0px;
  height: 100vh;
}

/* line 32, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside {
  display: grid;
  grid-template-areas: "headeraside" "nav" "sociallinks";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-area: aside;
  background: #00132d;
  height: 100vh;
  width: 320px;
  position: fixed;
}

/* line 45, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside .header-aside {
  grid-area: headeraside;
  padding: 20px;
  display: grid;
  grid-template-areas: "desc perfil";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
}

/* line 55, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside .header-aside .desc {
  grid-area: desc;
  text-align: right;
  align-self: center;
  float: left;
}

/* line 63, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside .header-aside .img-perfil {
  grid-area: perfil;
  float: left;
  align-self: center;
}

/* line 68, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside .header-aside .img-perfil img {
  width: 100px;
}

/* line 72, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside .header-aside h3 {
  color: #fff;
}

/* line 75, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside .header-aside h5 {
  margin-top: 10px;
  font-weight: 300;
  color: #ffd500;
}

/* line 81, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside .nav {
  grid-area: nav;
  margin: 20px 0;
}

/* line 84, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside .nav .active {
  border-right: 3px solid #ffd500;
  background: #000f2b;
  color: #fff;
}

/* line 89, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside .nav ul {
  background: #ccc;
}

/* line 91, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside .nav ul li {
  background: #888;
}

/* line 93, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside .nav ul li a {
  background: #00132d;
  border-right: 3px solid #00132d;
  text-align: center;
  color: #ffd500;
  padding: 15px;
  display: inline-block;
  width: 100%;
  min-height: 40px;
  font-weight: 200;
  transition: all .2s ease-in;
}

/* line 104, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside .nav ul li a:hover {
  border-right: 3px solid #00173e;
  background: #00173e;
  color: #fff;
}

/* line 113, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside .social-links {
  align-self: end;
  grid-area: sociallinks;
  margin: 0 20px 40px;
  display: grid;
  grid-template-areas: "sl1" "sl2" "sl3";
  grid-template-columns: 1fr 1fr 1fr;
}

/* line 121, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside .social-links a {
  color: #ffd500;
  font-size: 1.5em;
  text-align: center;
  transition: all .2s ease-in;
}

/* line 126, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside .social-links a sl1 {
  grid-area: sl1;
}

/* line 129, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside .social-links a sl2 {
  grid-area: sl2;
}

/* line 132, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside .social-links a sl3 {
  grid-area: sl3;
}

/* line 135, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside .social-links a:hover {
  color: #fff;
}

/* line 141, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main {
  grid-area: main;
  background: #ccc;
}

/* line 145, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .sobre {
  display: grid;
  grid-template-areas: "logo" "titulo1sobre" "descsobre";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 4fr;
  grid-gap: 20px;
  height: 100vh;
  background: url(../img/capa-fb-site.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
  padding: 20px;
}

/* line 160, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .sobre .logo {
  grid-area: logo;
}

/* line 162, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .sobre .logo img {
  width: 100%;
}

/* line 166, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .sobre .titulo1 {
  grid-area: titulo1sobre;
}

/* line 168, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .sobre .titulo1 h1 {
  font-weight: 400;
}

/* line 170, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .sobre .desc-sobre {
  grid-area: descsobre;
  align-self: center;
  font-size: 28px;
  text-align: center;
  line-height: 2em;
  font-weight: 100;
}

/* line 180, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.contato {
  background: #ccc;
  grid-area: contato;
}

/*# sourceMappingURL=../style.map */