@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?3k1wol");
  src: url("fonts/icomoon.eot?3k1wol#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?3k1wol") format("truetype"), url("fonts/icomoon.woff?3k1wol") format("woff"), url("fonts/icomoon.svg?3k1wol#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 12, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/_icomoon-style.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 27, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/_icomoon-style.scss */
.icon-audiovisual:before {
  content: "\e900";
}

/* line 30, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/_icomoon-style.scss */
.icon-claquete:before {
  content: "\e901";
}

/* line 33, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/_icomoon-style.scss */
.icon-facebook:before {
  content: "\e902";
}

/* line 36, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/_icomoon-style.scss */
.icon-filmagem:before {
  content: "\e903";
}

/* line 39, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/_icomoon-style.scss */
.icon-fotografia:before {
  content: "\e904";
}

/* line 42, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/_icomoon-style.scss */
.icon-img:before {
  content: "\e905";
}

/* line 45, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/_icomoon-style.scss */
.icon-instagram:before {
  content: "\e906";
}

/* line 48, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/_icomoon-style.scss */
.icon-twitter:before {
  content: "\e907";
}

/* line 4, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* line 10, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
html, body {
  margin: 0;
  height: 100%;
  min-height: 100%;
}

/* line 15, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
body {
  font-family: "Montserrat", sans-serif;
  background: #fff;
}

/* line 21, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.container {
  display: grid;
  grid-template-areas: "aside main" "aside contato";
  grid-template-columns: 320px 1fr;
  grid-template-rows: 1fr auto;
  grid-gap: 0px;
  height: 100vh;
}

/* line 32, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside {
  display: grid;
  grid-template-areas: "headeraside" "nav" "sociallinks";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-area: aside;
  background: #00132d;
  height: 100vh;
  width: 320px;
  position: fixed;
}

/* line 45, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside .header-aside {
  grid-area: headeraside;
  padding: 20px;
  display: grid;
  grid-template-areas: "desc perfil";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
}

/* line 55, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside .header-aside .desc {
  grid-area: desc;
  text-align: right;
  align-self: center;
  float: left;
}

/* line 63, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside .header-aside .img-perfil {
  grid-area: perfil;
  float: left;
  align-self: center;
}

/* line 68, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside .header-aside .img-perfil img {
  width: 100px;
}

/* line 72, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside .header-aside h3 {
  color: #fff;
}

/* line 75, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside .header-aside h5 {
  margin-top: 10px;
  font-weight: 300;
  color: #ffd500;
}

/* line 81, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside .nav {
  grid-area: nav;
  margin: 20px 0;
}

/* line 84, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside .nav .active {
  border-right: 3px solid #ffd500;
  background: #000f2b;
  color: #fff;
}

/* line 89, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside .nav ul {
  background: #ccc;
}

/* line 91, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside .nav ul li {
  background: #888;
}

/* line 93, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside .nav ul li a {
  background: #00132d;
  border-right: 3px solid #00132d;
  text-align: center;
  color: #ffd500;
  padding: 15px;
  display: inline-block;
  width: 100%;
  min-height: 40px;
  font-weight: 200;
  transition: all .2s ease-in;
}

/* line 104, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside .nav ul li a:hover {
  border-right: 3px solid #00173e;
  background: #00173e;
  color: #fff;
}

/* line 113, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside .social-links {
  align-self: end;
  grid-area: sociallinks;
  margin: 0 20px 40px;
  display: grid;
  grid-template-areas: "sl1" "sl2" "sl3";
  grid-template-columns: 1fr 1fr 1fr;
}

/* line 121, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside .social-links a {
  color: #ffd500;
  font-size: 1.5em;
  text-align: center;
  transition: all .2s ease-in;
}

/* line 126, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside .social-links a sl1 {
  grid-area: sl1;
}

/* line 129, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside .social-links a sl2 {
  grid-area: sl2;
}

/* line 132, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside .social-links a sl3 {
  grid-area: sl3;
}

/* line 135, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.aside .social-links a:hover {
  color: #fff;
}

/* line 141, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main {
  grid-area: main;
  background: #ccc;
}

/* line 145, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .sobre, .main .servicos, .main .portfolio {
  height: 100vh;
}

/* line 148, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .sobre, .main .servicos, .main .portfolio, .main .contato {
  padding: 20px;
  display: grid;
}

/* line 151, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .sobre h3, .main .servicos h3, .main .portfolio h3, .main .contato h3 {
  position: relative;
}

/* line 153, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .sobre h3::after, .main .servicos h3::after, .main .portfolio h3::after, .main .contato h3::after {
  content: '';
  position: absolute;
  top: 25px;
  right: 0;
  width: 100%;
  height: 1px;
  background: #00132d;
}

/* line 164, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .sobre {
  grid-template-areas: "logo" "titulo1sobre" "descsobre";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 4fr;
  grid-gap: 20px;
  background: url(../img/capa-fb-site.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
}

/* line 177, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .sobre .logo {
  grid-area: logo;
}

/* line 179, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .sobre .logo img {
  width: 100%;
}

/* line 183, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .sobre .titulo1 {
  grid-area: titulo1sobre;
}

/* line 185, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .sobre .titulo1 h1 {
  font-weight: 400;
}

/* line 187, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .sobre .desc-sobre {
  grid-area: descsobre;
  align-self: center;
  font-size: 28px;
  text-align: center;
  line-height: 2em;
  font-weight: 100;
}

/* line 196, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .servicos {
  width: 100%;
  background: #f2f2f2;
  display: grid;
  grid-template-areas: "titulo2" "servs" "servsDesc";
  grid-template-rows: 1fr 5fr 4fr;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

/* line 207, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .servicos h3 {
  grid-area: titulo2;
}

/* line 210, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .servicos .servs {
  grid-area: servs;
  display: grid;
  width: 100%;
  grid-template-areas: "serv1 serv2 serv3 serv4";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
}

/* line 220, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .servicos .servs .serv {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/* line 224, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .servicos .servs .serv .serv-img {
  background: #ffd500;
  height: 100%;
  width: 100%;
  padding: 20px;
}

/* line 229, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .servicos .servs .serv .serv-img img {
  width: 100%;
  margin: 0;
}

/* line 234, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .servicos .servs .serv .serv-titulo {
  text-align: center;
  color: #00132d;
  font-size: 1em;
  width: 100%;
  height: 40px;
  text-transform: uppercase;
  padding-top: 10px;
}

/* line 244, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .servicos .servs .serv1 {
  grid-area: serv1;
}

/* line 245, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .servicos .servs .serv2 {
  grid-area: serv2;
}

/* line 246, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .servicos .servs .serv3 {
  grid-area: serv3;
}

/* line 247, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .servicos .servs .serv4 {
  grid-area: serv4;
}

/* line 250, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .servicos .servs-desc {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  grid-area: servsDesc;
  display: grid;
  grid-template-areas: "servsDesc1 servsDesc2";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
}

/* line 262, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .servicos .servs-desc .servs-desc1 {
  grid-area: servsDesc1;
}

/* line 263, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .servicos .servs-desc .servs-desc2 {
  grid-area: servsDesc2;
}

/* line 267, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .portfolio {
  background: #fff;
  display: grid;
  grid-template-areas: "titulo3" "portImgs" "portVideos";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 6fr;
}

/* line 276, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .portfolio h3 {
  grid-area: titulo3;
}

/* line 277, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .portfolio .port-imgs {
  grid-area: portImgs;
  display: grid;
  grid-template-areas: "portImg1 portImg2 portImg3 portImg4";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
}

/* line 286, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .portfolio .port-imgs .port-img {
  background: #ffd500;
  margin-top: 20px;
  padding: 20px;
}

/* line 290, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .portfolio .port-imgs .port-img img {
  width: 100%;
}

/* line 293, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .portfolio .port-imgs .port-img1 {
  grid-area: portImg1;
}

/* line 294, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .portfolio .port-imgs .port-img2 {
  grid-area: portImg2;
}

/* line 295, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .portfolio .port-imgs .port-img3 {
  grid-area: portImg3;
}

/* line 296, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .portfolio .port-imgs .port-img4 {
  grid-area: portImg4;
}

/* line 298, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .portfolio .port-videos {
  margin-top: 20px;
  grid-area: portVideos;
  display: grid;
  grid-template-areas: "portVideo1 portVideo2";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
}

/* line 308, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .portfolio .port-videos .port-video1 {
  grid-area: portVideo1;
}

/* line 309, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.main .portfolio .port-videos .port-video2 {
  grid-area: portVideo2;
}

/* line 313, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.contato {
  background: #00132d;
  grid-area: contato;
  height: auto;
  width: 100%;
  padding: 20px;
  padding-bottom: 30px;
}

/* line 320, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.contato h3 {
  position: relative;
  color: #ffd500;
}

/* line 323, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.contato h3::after {
  content: '';
  position: absolute;
  top: 25px;
  right: 0;
  width: 100%;
  height: 1px;
  background: #ffd500;
}

/* line 333, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.contato .desc-contato {
  color: #fff;
  text-align: left;
  font-size: 20px;
  margin: 20px 50% 20px 0;
}

/* line 339, C:/Users/ewert/OneDrive/Imagens/Rivas/rivas/css/scss/style.scss */
.contato a {
  color: #ffd500;
  font-weight: 200;
  display: block;
  margin-bottom: -10px;
  width: auto;
}

/*# sourceMappingURL=../style.map */